<div id="adver">
  <div class="main main-adver">
    <div class="banner banner-1">
      <a href="/">
        <img src="/assets/ad1.png"/>
      </a>
    </div>
    <div class="banner banner-2">
      <a href="/">
        <img src="/assets/ad2.png"/>
      </a>
    </div>
    <div class="banner banner-3">
      <a href="/">
        <img src="/assets/ad3.png"/>
      </a>
    </div>
  </div>
</div>