<div id="slide">
  <div class="main main-slide">
    <div class="slider-wrapper theme-default">
      <div id="slider" class="nivoSlider">
        <% Product.all.desc(:created_at).limit(3).each do |p| %>
         <a href="/products/<%= p.id %>"> <%= image_tag p.product_images.sample.photo.url  %></a>
         <% end %>
      </div>
    </div>
  </div>
</div>