<article class="product">
  <div class="field field-image">
    <% @product.product_images.each do |pi| %>
      <%= image_tag pi.photo.url  %>
    <% end %>
  </div>
  <div class="field field-title">
    <%= @product.name %>
  </div>
  <div class="field field-price">
    Price: <%= @product.price %>
  </div>
  <div class="add_to_cart">
    <span class="quantity">Quantity</span>
    <select name="quantity_number" class="quantity_number">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <button class="add-to-cart" id="buy_now_btn">buy now</button>
  </div>
</article>

<script type="text/javascript">

$('.add-to-cart').click(function() {
  var soluong = $('.quantity_number').val();
  var tongsoluong = $('.quantity_number option').length;
  add_to_cart(soluong, tongsoluong);

  var quantity_num = $('.quantity_number').val();
  var item = {
    product : {
      name: $('.field-title').html(),
      price: $('.field-price').html(),
      link: ($(location).attr('href'))
    },
    quantity: quantity_num
  }

  if (typeof($.cookie("order")) === "undefined") {
    // Can đưa sản phẩm vào một mảng là items.
    // Vì nếu không khi có nhiều hơn 1 sản phẩm sẽ không phân biệt được
    var items = {
      items: [item]
    }

    $.cookie("order", JSON.stringify(items), { path: '/' });

  } else {

    var order = $.parseJSON($.cookie("order"));
    // Cần check xem có sản phẩm đó trong cookie order hay chưa bằng cách sử dụng:
    var result = $.grep(order.items, function(e){ return e.product.name == item.product.name });

    if (result == 1) { // Trường hợp đã có sản phẩm đó trong giỏ hàng, ta thực hiện cập nhật sản phẩm
      result[0].quantity = result[0].quantity + item.quantity
      // Sau khi cong luong hang mua thêm thì ta thực hiện update vào cookie order
      $.cookie("order", JSON.stringify(order), {path: '/'});

    } else {
      // Ta có items là một mảng nên chỉ việc push nó vào mảng là được.
      order.items.push(item)
    }
  }
})
</script>