<header id="header">
  <div class="main main-header">
    <ul class="menu menu-2">
    <% if signed_in? %>  
      <li>
        <a href="<%= destroy_user_session_path %>">Sign out</a>
      </li>
    <% else %>
      <li>
        <a href="<%= user_session_path %>">Sign in</a>
      </li>
      <li>
        <a href="<%= new_user_registration_path %>">Sign up</a>
      </li>
      <li>
        <%= link_to 'Login', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => oauth_redirect_url) %>
      </li>
    <% end %>
    </ul>
  </div>  
</header>